* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(144, 144, 144);
  background-size: cover;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: beige;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
}

.info-childs p {
  margin: 10px 0;
  color: #555;
}

.info-childs button {
  background-color: transparent;
  outline: none;
  border: solid 2px #9191bd;
  border-radius: 20px;
  padding: 10px 20px;
  color: #9191bd;
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-childs button:hover {
  background-color: #9191bd;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #2e2d2d;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.form-information-childs {
  padding: 0 20px;
}

.form-information-childs h2 {
  color: #fff;
  font-size: 2rem;
}

.form-information-childs p {
  color: #fff;
}

.form {
  margin: 20px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.form label input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #fff;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label select {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #fff;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label i {
  color: #a7a7a7;
}

.form button {
  background-color: #9191bd;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form button:hover {
  background-color: #7a7a9a;
}

.form p.error {
  color: rgb(219, 255, 135);
  padding: 10px;
}

.escondido {
  display: none;
}

.overlayNV {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlaySV {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 500px;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  margin-bottom: 10px;
}

.popup button {
  background-color: #9191bd;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup button:hover {
  background-color: #7a7a9a;
}