<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/admin" id="admin" >Create logo manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Sobre nosotros
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" routerLink="/admin/crudproducts">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" routerLink="/admin/crudproducts">Pedidos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu">
              <a class="dropdown-item disabled" href="#">Empleados</a>
              <a class="dropdown-item disabled" href="#">Clientes</a>
              <a class="dropdown-item disabled" href="#">Indicadores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa-solid fa-house"></i>  Home customers</a>
            </div>
          </li>
        </ul>
      </div>
      <!-- No borrar
      <div>
        <ul class="navbar-nav me-sm-2">
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fa-solid fa-user-pen"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
          </li>
        </ul>
      </div>-->
    </div>
  </nav>