.container {
    display: flex;
    justify-content: center;
    /*Espacio entre las dos columnnas*/
    grid-template-columns: 1fr 1fr;
    /*Columnas*/
    max-width: 1100px;
    /*El encabezado cambie de color al bajar la barra derecha de vista.*/
    /**/
    padding-top: 8%;
}

.image-container {
    text-align: left;
}

.image {
    height: 510px;
    width: 500px;
    margin-right: 20px;
}

.content-container {
    text-align: right;
    background-color: white;
    padding: 25px;
    /*Espacio entre los bordes del color del fondo.*/
    margin: 0px 10px;
    border-radius: 20px;
    text-align: justify;
}

.content-container h1,
h2,
span {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(68, 68, 68);
}

.color-selector {
    display: flex;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.boton {
    background-color: #411794;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    height: 50px;
    /* Ajusta la altura según tus necesidades */
    font-size: large;
    width: 250px;
    /* Ajusta el ancho según tus necesidades */
}

.cart-icon {
    margin-right: 10px;
    /* Ajusta el valor según el espacio deseado */
}

.botonCantidad {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-color: rgb(184, 184, 184);
}

.relacionados h1 {
    color: rgb(255, 249, 249);
    justify-content: center;
}

.Negro {
    background-color: black;
}

.Amarillo {
    background-color: yellow;
}

.Rojo {
    background-color: red;
}

.Azul {
    background-color: blue;
}

.Verde {
    background-color: green;
}

.Blanco {
    background-color: white;
}

.item {
    margin: 10px;
    /*Espacios entre las imágenes*/
    padding: 10px;
    /*Espacio del borde de la letra escrita.*/
    float: left;
    /*Horizontal (items uno al lado del otro).*/
}

.item h2 {
    color: rgb(0, 0, 0);
}

#item1 {
    background-color: #ffffff;
}

#item2 {
    background-color: #ffffff;
}

#item3 {
    background-color: #ffffff;
}

.siHay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 500px;


}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    /* font-size: 36px; */
    margin-bottom: 10px;
    /* opacity: 0; */
}

