body {
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.card {
    height: 510px;
    width: 25%;
    box-shadow: 0 0 7px #111;
    margin: 0 30px;
}

.image {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}